* {
  margin: 0;
  padding: 0;
}

// .QandAsection {
//   border-top: solid black 2px;
//   padding-top: 40px;
// }

// .admin_index_body {
//   background-image: url("https://source.unsplash.com/featured/?colorful");
//   width: 100vw;
//   max-width: 100vw;
//   height: 100vh;
//   max-height: 100vh;
// }

// .header {
//   position: sticky;
//   top: 0;
// }

.body {
  background-image: url("https://source.unsplash.com/featured/?colorful");
  background-size: cover;
  // min-width: 100vw;
  max-width: 100vw;
  min-height: calc(100vh + 200px);
  padding-bottom: 200px;
}

.uk-container {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 20px;
}

.uk-button-white {
  background: white;
}

.answer_input {
  display: block;
}

ul {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;

  margin-bottom: 24px;
}

// .takeQuizInput {
//   margin-left: 100px;
//   display: block;
// }
